.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: red;
    color: aqua;
}

.red-text {
    color: aqua;
}

.green {
    background: green;
    color: whitesmoke;
}


.orange {
    background: orange;
    color: aqua;
}

.black {
    background: black;
    color: whitesmoke;
}