
/*
.checkbox {
    appearance: none;
  width: 30px;
    height: 30px;
    margin-right: 10px;
    background-color: mediumvioletred;

}


.checkbox:checked {
    appearance: none;
   background-image:url("img.png");

}
.spanClassName {

}
*/
